<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("Logout", "Auth")">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Registration", "Auth")">Register</a>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    @if (@User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Hello " + @User.Identity.Name + "!", "Index", "Home", new { area = "" }, new { @class = "nav navbar-nav navbar-left" })
                        </li>
                        <li>
                            @Html.ActionLink("Profile", "Index", "Profile", new { area = "" }, new { @class = "nav navbar-nav navbar-left" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Login", "Index", "Home", new { area = "" }, new { @class = "nav navbar-nav navbar-left" })
                        </li>                            
                    }
                </ul>
            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MApp</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>