@using PerpetuumSoft.Knockout
@model MApp.Web.ViewModel.CreatingVM
@{
    var ko = Html.CreateKnockoutContext();
    ViewBag.Title = "Issue - " + @Model.Issue.Title;
}
<div class="page-header">
    <h2>Creating</h2>
</div>

<div class="container">
    <div id ="coreInfos" class="col-md-7">
        <div class="form-group">
            <label for="titleInput">Title</label>
            <input id="titleInput" class="form-control" data-bind="textInput: viewModel.Issue.Title, enable: viewModel.AccessRight() != 'V'" />
            <label for="description">Description</label>
            <textarea class="form-control" data-bind="value: viewModel.Issue.Description, enable: viewModel.AccessRight() != 'V'" id="description" name="description"></textarea>
            <label for="issueStatus">Issue status:</label>
            <label id="issueStatus" data-bind="text: viewModel.Issue.Status"></label>
            <div class="checkbox">
                <label id="anonymousPostingLabel">
                    <input id="anonymous" type="checkbox" data-bind="checked: viewModel.Issue.AnonymousPosting, enable: viewModel.AccessRight() != 'V'" />
                    Anonymous posting?
                </label>
            </div>
            <p>
                <label for="selectRootIssue">Parent Issue:</label>
                <select class="selectpicker" data-live-search="true" id="selectRootIssue" data-bind="options: viewModel.Issues, optionsText: 'Title', optionsValue: 'Id', value: viewModel.Issue.Parent"></select>
                <a data-bind="text: viewModel.Issue.ParentTitle, attr: {href: '?issueId=' + viewModel.Issue.Parent()}, visible: !viewModel.parentChanged() && viewModel.Issue.ParentTitle() != ''"></a>
                <a data-bind="text: viewModel.parentDDText, attr: {href: '?issueId=' + viewModel.Issue.Parent()}, visible: viewModel.parentDDText() != 'none' && viewModel.parentChanged"></a>
            </p>
            <p>
                <label for="selectdependsOnIssue">Depends on Issue:</label>
                <select class="selectpicker" data-live-search="true" id="selectdependsOnIssue" data-bind="options: viewModel.Issues, optionsText: 'Title', optionsValue: 'Id', value: viewModel.Issue.DependsOn"></select>
                <a data-bind="text: viewModel.Issue.DependsOnTitle, attr: {href: '?issueId=' + viewModel.Issue.DependsOn()}, visible: !viewModel.dependsOnChanged() && viewModel.Issue.DependsOnTitle() != ''"></a>
                <a data-bind="text: viewModel.dependsOnDDText, attr: {href: '?issueId=' + viewModel.Issue.DependsOn()}, visible: viewModel.dependsOnDDText() != 'none' && viewModel.dependsOnChanged"></a>
            </p>

        </div>
    </div>
    
    <div class="col-md-5" id="selfAssessment">
        <form class="form-inline" role="form">
            @if (Model.AccessRight != "V")
            {
               if (Model.Issue.Status == "CREATING" || Model.Issue.Status == "BRAINSTORMING1")
               {
                <div class="form-group has-feedback" data-bind="attr: {class: viewModel.selfAssessmentCheckHas}">
                    <label for="selfAssessmentV">Value</label>
                    <input class="form-control" id="selfAssessmentV" data-bind="textInput: viewModel.SelfAssessmentValue" onfocus="javascript: onSelfAssessmentFocus()">
                    <span data-bind="attr: {class: viewModel.selfAssessmentCheckIcon }"></span>
                </div>
                <div class="form-group">
                    <label for="selfEvaluationD">Description</label>
                    <textarea type="text" class="form-control" id="selfEvaluationD" data-bind="value: viewModel.SelfAssessmentDescription"></textarea>
                </div>
               }else
               {
                   <label>Selfassessment Value: </label> @Model.SelfAssessmentValue
                   <br />
                   <label>Description:</label>
                   <br />
                   @Model.SelfAssessmentDescription
               }
            }
        </form>
    </div>

    <div class="col-md-5">
        <label for="tokenfield">Issue Tags</label>
        <input type="text" class="form-control" id="tokenfield" data-bind="enable: viewModel.AccessRight() != 'V'"/>

        <p data-bind="visible: viewModelJs.AccessRight == 'O'">
            <select class="selectpicker" data-live-search="true" id="selectUser" data-width="auto" data-bind="options: viewModel.AllUsers, optionsText: 'Name', optionsValue: 'Id', visible: viewModel.AccessRight() == 'O'"></select>
            <select class="selectpicker" id="selectRight" data-width="auto" >
                <option>Contributor</option>
                <option>Viewer</option>
                <option>Owner</option>
            </select>
            <button id="addRight" type="button" class="btn btn-primary btn-xs" onclick="javascript: onAddRightClick()" data-bind="visible: viewModelJs.AccessRight == 'O'">Add</button>
        </p>
        <h4>Access Rights</h4>
        <table id="userTable" class="table table-hover table-striped table-condensed">
            <thead align="left">
                <tr>
                    <th>Name</th>
                    <th>Right</th>
                    <th>Selfassessment</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: viewModel.AccessRights">
                <tr>
                    <td>
                        <a data-bind="text: Name, attr: { href: '#modal' + UserId() }"></a>
                        <div data-bind="attr: { id: 'modal' + UserId()}" class="modalDialog">
                            <div>
                                <a href="#close" title="Close" class="closemd">X</a>
                                <h4 data-bind="text: Name() + ' - Selfassessment'"></h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td class="datecolumn">Date</td>
                                            <td>Value</td>
                                            <td>Description</td>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: SelfAssessmentHistory">
                                        <tr>
                                            <td data-bind="text: moment(ChangeDate()).format('DD.MM.YY HH:mm')"></td>
                                            <td data-bind="text: SelfAssessmentValue"></td>
                                            <td data-bind="text: SelfAssessmentDescr"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td data-bind="text: Right"></td>
                    <td class="td-center-top">
                        <div class="ttip">
                            <label data-bind="text: SelfAssessmentValue"></label>
                            <span class="tooltiptext" data-bind="text: SelfAssessmentDescr"></span>
                        </div>
                    </td>
                    <td><a class="btn btn-danger btn-xs" href="#" data-bind="click: $parent.removeRight, visible: viewModelJs.AccessRight == 'O' && UserId() != viewModel.UserId()">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button id="save" type="button" class="btn btn-success" onclick="javascript: onSaveClick()" data-bind="visible: viewModelJs.AccessRight == 'O' || viewModelJs.AccessRight == 'C'">Save</button>
    <button id="nextstage" type="button" class="btn btn-success" onclick="javascript: onNextStageClick()" data-bind="visible: viewModel.AccessRight() == 'O', enable: viewModelJs.Issue.Id != -1">Next Stage</button>
    <button id="delete" type="button" class="btn btn-danger" onclick="javascript: onDeleteClick()" data-bind="visible: viewModelJs.AccessRight == 'O', enable: viewModelJs.Issue.Id != -1">Delete</button>
</div>

<script type="text/javascript">
    var addedTags = [];
    var deletedTags = [];
    var viewModelJs = @Html.Raw(Json.Encode(Model));
    var viewModel = ko.mapping.fromJS(viewModelJs);
    
    viewModel.parentChanged = ko.observable(false);
    viewModel.dependsOnChanged = ko.observable(false);
    viewModel.DeletedAR = ko.observableArray();
    viewModel.AddedAR = ko.observableArray();
    viewModel.selfAssessmentEntered = ko.observable(false)

    for (var i = 0; i < viewModelJs.AccessRights.length; i++){
        if (viewModelJs.AccessRights[i].UserId == viewModelJs.UserId){
            viewModel.AccessRights()[i].SelfAssessmentValue = viewModel.SelfAssessmentValue;
            viewModel.AccessRights()[i].SelfAssessmentDescr = viewModel.SelfAssessmentDescription;
        }
    }
    
    viewModel.dependsOnDDText = ko.computed(function () {
        return $("#selectdependsOnIssue option[value='" + viewModel.Issue.DependsOn() + "']").text();
    });

    viewModel.parentDDText = ko.computed(function () {
        return $("#selectRootIssue option[value='" + viewModel.Issue.Parent() + "']").text();
    });

    viewModel.selfAssessmentCheckHas = ko.computed(function() {
        if (viewModel.selfAssessmentEntered()){
            if (viewModel.SelfAssessmentValue() >= 1 && viewModel.SelfAssessmentValue() <= 10)
                return 'form-group has-feedback has-success';
            else
                return 'form-group has-feedback has-error';
        }else{
            return 'form-group';
        }
    });

    viewModel.selfAssessmentCheckIcon = ko.computed(function() {
        if (viewModel.selfAssessmentEntered()){
            if (viewModel.SelfAssessmentValue() >= 1 && viewModel.SelfAssessmentValue() <= 10)
                return 'glyphicon glyphicon-ok form-control-feedback';
            else
                return 'glyphicon glyphicon-remove form-control-feedback';
        }
        return 'form-control-feedback'
    });

    if (viewModelJs.Issue.Id == -1){
        viewModel.Issue.Tags = ko.observableArray();
    }

    ko.applyBindings(viewModel);
    

    renderMenues()
    makePermissions()

    viewModel.removeRight = function () {
        viewModel.DeletedAR.push({ UserId: this.UserId(), Right: this.Right(), Name: this.Name() });
        viewModel.AccessRights.remove(this);
    };

    $('#selectRootIssue').on('hidden.bs.select', function (e) {
        viewModel.parentChanged(true)
    });

    $('#selectdependsOnIssue').on('hidden.bs.select', function (e) {
        viewModel.dependsOnChanged(true)
    });

    function onSaveClick() {
        var tmpVM = ko.toJS(viewModel)

        tmpVM.AddedTags = addedTags;
        tmpVM.DeletedTags = deletedTags;

        for (i = 0; i < tmpVM.AccessRights.length; i++){
            for (j = 0; j < tmpVM.AccessRights[i].SelfAssessmentHistory.length; j++){
                tmpVM.AccessRights[i].SelfAssessmentHistory[j] = viewModelJs.AccessRights[i].SelfAssessmentHistory[j];
            }
        }

        ko.utils.postJson("/Issue/Creating?issueId=" + tmpVM.Issue.Id, { CreatingVM: tmpVM })
    }

    function onDeleteClick(){
        $.ajax({
            url: '@Url.Action("DeleteIssue","Issue")',
            type: 'POST',
            data: { issueId: viewModel.Issue.Id }
        })
        window.location.replace("http://localhost:15551")
    }

    function onNextStageClick() {
        ko.utils.postJson("/Issue/NextStage", { issueId: viewModel.Issue.Id, status: viewModel.Issue.Status })
    };

    function onAddRightClick() {
        var uid = $('#selectUser').selectpicker('option:selected').val();
        if (uid != 0) {
            var uText = ""
            for (index = 0; index < viewModelJs.AllUsers.length; ++index) {
                if (viewModelJs.AllUsers[index].Id == uid) {
                    uText = viewModelJs.AllUsers[index].Name
                }
            }
            var ar = {
                UserId: ko.observable(uid),
                Right: ko.observable($('#selectRight').selectpicker('option :selected').val()),
                Name: ko.observable(uText),
                SelfAssessmentValue: ko.observable(0),
                SelfAssessmentDescr: ko.observable(""),
                SelfAssessmentHistory: ko.observableArray()
            }
            viewModel.AccessRights.push(ar);
            viewModel.AllUsers.splice($('#selectUser').selectpicker('option :selected').index(), 1)
            $('#selectUser').find('[value=' + uid + ']').remove();
            $('#selectUser').selectpicker('refresh');

            viewModel.AddedAR.push({ UserId: uid, Right: $('#selectRight').selectpicker('option :selected').val(), Name: uText });
        } else {
            alert('Please select User first');
        }

    };

    function onSelfAssessmentFocus(){
        viewModel.selfAssessmentEntered(true);
    };

    function makePermissions(){
        if (viewModelJs.AccessRight == 'V'){
            $('#selectRootIssue').selectpicker('hide');
            $('#selectdependsOnIssue').selectpicker('hide');
        }
    }

    $(document).ready(function () {
        var token = [];
        var engine;
        var allTags = []

        var status;

        for (var j = 0; j < viewModelJs.AllTags.length; j++) {
            allTags.push({ value: viewModelJs.AllTags[j].Id, label: viewModelJs.AllTags[j].Name })
        }

        var issueTags = []
        if (viewModel.Issue.Id() != -1){
            for (var j = 0; j < viewModel.Issue.Tags().length; j++) {
                issueTags.push({ value: viewModelJs.Issue.Tags[j].Id, label: viewModelJs.Issue.Tags[j].Name })
            }
        }

        $('#tokenfield')
            .tokenfield({
                autocomplete: {
                    source: allTags,
                    delay: 100
                },
                showAutocompleteOnFocus: true
            })
            .tokenfield('setTokens', issueTags)
        ;

        usrProp = viewModel.Issue.Tags();

        $('#tokenfield').on('tokenfield:createtoken', function (e) {
            var tokenExists = false
            for (i = 0; i < usrProp.length; i++) {
                if (usrProp[i].Name == e.attrs.label) {
                    tokenExists = true
                    alert('Property already exists')
                }
            }
            if (tokenExists) {
                event.preventDefault();
                event.stopImmediatePropagation();
                return;
            } else {
                if (e.attrs.label == e.attrs.value) {
                    e.attrs.value = -1
                }
                usrProp.push({ Id: e.attrs.value, Name: e.attrs.label })
                addedTags.push({ Id: e.attrs.value, Name: e.attrs.label })
            }
        });

        $('#tokenfield').on('tokenfield:removedtoken', function (e) {
            var idx;
            for (i = 0; i < usrProp.length; i++) {
                if (usrProp[i].Id > 0 && parseInt(e.attrs.value) == usrProp[i].Id) {
                    idx = i
                } else if (usrProp[i].Name == e.attrs.label) {
                    idx = i
                }

            }
            deletedTags.push({ Id: e.attrs.value, Name: e.attrs.label })
        });
    });

</script>