@using PerpetuumSoft.Knockout
@model MApp.Web.ViewModel.DecisionVM
@{
    var ko = Html.CreateKnockoutContext();
    if (Model.Issue.Status == "DECIDING")
    {
        ViewBag.Title = Model.Issue.Title + " - Decision Making";
    }
    else
    {
        ViewBag.Title = Model.Issue.Title + " - Final Decision";
    }

    bool visible, enabled;
    if (Model.AccessRight == "O")
    {
        visible = true;
        enabled = true;
    }else
    {
        visible = false;
        enabled = false;
    }
}

<!-- ko if: viewModel.Issue.Status() == 'DECIDING' -->
<h2 data-bind="text: viewModel.Issue.Title() + ' - Deciding'"></h2>
<!-- /ko -->
<!-- ko if: viewModel.Issue.Status() == 'FINISHED' -->
<h2 data-bind="text: viewModel.Issue.Title() + ' - Final Decision'"></h2>
<!-- /ko -->
<div class="some">
    <h3>Voting Results</h3>
    <table class="table table-nonfluid restable">
        <thead>
        <th>Alternative</th>
        @if (Model.Issue.Setting == "A")
        {
            <th>Score</th>
        }
        else
        {
            <th class="td-center-top">Ranking</th>
        }
        </thead>
        <tbody>
            @foreach (var am in Model.Alternatives)
            {
                <tr>
                    <td>@am.Name</td>
                    @if (Model.Issue.Setting == "A")
                    {
                        <td class="td-right-top rank-column"><span class="divpadd">@String.Format("{0:0.##}", am.Rating)</span></td>
                    }
                    else
                    {
                        <td class="td-right-top rank-column"><span class="divpadd">@String.Format("{0:0.##} %", am.Rating * 100)</span></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>



@if (Model.AccessRight == "O")
{


    <div class="form-group">
        <div data-bind="foreach: viewModel.Alternatives">
            <label>
                <input type="radio" name="altRadio" data-bind="checkedValue: Id, checked: viewModel.Decision.AlternativeId" />
                <span data-bind="text: Name"></span>
                <br />
            </label>
        </div>
        <textarea data-bind="value: viewModel.Decision.Explanation" id="explanationText" class="form-control textarea-desc" rows="5"></textarea>
    </div>
    <!-- ko if: viewModel.Issue.Status() == 'FINISHED' -->
        <button id="save" type="button" class="btn btn-primary" onclick="javascript: onUpdateClick()" data-bind="visible: viewModel.update">Update Description</button>
        <button id="updateDecisionBtn" type="button" class="btn btn-primary" onclick="javascript: onSaveClick()" data-bind="visible: viewModel.overthink">Change Decision</button>
    <!-- /ko -->
    <!-- ko if: viewModel.Issue.Status() == 'DECIDING' -->
        <button id="makeDecisionBtn" type="button" class="btn btn-primary" onclick="javascript: onSaveClick()">Make Decision</button>
    <!-- /ko -->
}
else
{
    <!-- ko if: viewModel.Issue.Status() == 'DECIDING' -->
        <h3>Issue owner has made no decision yet</h3>
    <!-- /ko -->
    <!-- ko if: viewModel.Issue.Status() == 'FINISHED' -->
        <h3 data-bind="text: 'Decision Made: ' + viewModel.decisionName()"></h3>
        <h4>Explanation:</h4>
        <br />
        @Model.Decision.Explanation
    <!-- /ko -->
}

@if(Model.OldDecisions != null && Model.OldDecisions.Count > 0)
{
    <h3>Old Decisions</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Discard Date</td>
                <td>Decision</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var dm in Model.OldDecisions)
            {
                <tr>
                    <td>@dm.ChangeDate</td>
                    <td>
                        <strong>@Model.Alternatives.Where(x => x.Id == dm.AlternativeId).FirstOrDefault().Name</strong>
                        <br />
                        @dm.Explanation
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
}

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>

    var viewModelJs = @Html.Raw(Json.Encode(Model));
    var viewModel = ko.mapping.fromJS(viewModelJs);

    viewModel.overthink = ko.computed(function() {
        if (viewModel.Decision.AlternativeId() != @Model.Decision.AlternativeId ){
            document.getElementById("explanationText").value = ""
            return true;
        }

        else
            return false;
    });

    viewModel.update = ko.computed(function() {
        if (viewModel.Decision.AlternativeId() == @Model.Decision.AlternativeId && viewModel.Issue.Status() == "FINISHED" && viewModel.AccessRight() == "O"){
            document.getElementById("explanationText").value = viewModel.Decision.Explanation();
            return true;
        }else
            return false;
    });

    viewModel.decisionName = ko.computed(function(){
        if (viewModel.Issue.Status() == 'FINISHED'){
            for (var i = 0; i < viewModel.Alternatives().length; i++){
                if (viewModel.Decision.AlternativeId() == viewModel.Alternatives()[i].Id()){
                    return viewModel.Alternatives()[i].Name()
                }
            }
        }else{
            return 'NO DECISION'
        }
    })

    ko.applyBindings(viewModel);


    renderMenues()
    function onSaveClick() {
        var tmpVM = ko.toJS(viewModel.Decision)
        tmpVM.ChangeDate = "";
        ko.utils.postJson("", { DecisionModel: tmpVM });
    }

    function onUpdateClick(){
        var tmpVM = ko.toJS(viewModel.Decision);
        tmpVM.ChangeDate = "";
        ko.utils.postJson("/Issue/UpdateDecision", { DecisionModel: tmpVM });
    }

    //SignalR
    $(function () {
        var notificationHub = $.connection.notificationHub;
        userAddedToIssue(notificationHub);

        nextStageNotification(notificationHub)
        
        $.connection.hub.start().done(function () {
            
        });
    })
</script>