@using MApp.Middleware.Models
@using PerpetuumSoft.Knockout
@model MApp.Web.ViewModel.EvaluationVM
@{
    ViewBag.Title = Model.Issue.Title + " - Alternatives Evaluation";
    var ko = Html.CreateKnockoutContext();
}

<h2>@Model.Issue.Title - Alternative Evaluation</h2>

@if (Model.AccessRight != "V")
{
    <table id="userRatings" class="table table-hover table-striped table-condensed table-nonfluid">
        <tr>
            <th>Crtieria</th>
            <th>Criteria Weight</th>
            @using (var item = ko.Foreach(m => m.Alternatives))
            {
                <th @item.Bind.Text(m => m.Name)></th>
            }
        </tr>
        <tbody>
            @{ int i = 0; }
            @foreach (var item in Model.Criterias)
            {
             
                <tr>
                    <td class="table-header-column">@item.Name</td>
                    <td class="table-header-column">@String.Format("{0:#0.## %}",item.Weight)</td>
                    @for (int k = 0; k < Model.UserRatings[i].Count;k++)
                    {
                        <td>
                            <input data-bind="textInput: viewModel.UserRatings()[@i][@k].Value" class="form-control"/>
                        </td>
                    }
                
                
                </tr>
                i++;    
            }
        </tbody>
    </table>

    <button id="save" onclick="onClickSave()" class="btn btn-primary btn-md">save</button>
}
@if (Model.AccessRight == "O")
{
    <button id="nextstage" type="button" class="btn btn-primary" onclick="javascript: onNextStageClick()">Next Stage</button>
}

@if (Model.RatedUsers.Count > 0)
{
    <h3>Ratings of other users</h3>
    foreach (UserShortModel user in Model.RatedUsers)
    {
        <h4>@user.Name</h4>
        <table id="userRating@(user.Id)table" class="table table-hover table-striped table-condensed table-nonfluid">
            <thead>
                <th>Crtieria</th>
                @foreach (AlternativeModel alt in Model.Alternatives)
                {
                    <th>@alt.Name</th>
                }
            </thead>
            <tbody>
                @foreach (CriterionModel cm in Model.Criterias)
                {
                    <tr>
                        <td class="table-header-column">@cm.Name</td>
                        @foreach (RatingModel rat in Model.AllRatings.Where(x => x.CriterionId == cm.Id && x.UserId == user.Id).OrderBy(x => x.AlternativeId).ToList())
                        {
                            <td>@rat.Value</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}

<script type="text/javascript">
    var viewModelJs = @Html.Raw(Json.Encode(Model));
    var viewModel = ko.mapping.fromJS(viewModelJs);

    ko.applyBindings(viewModel);
    renderMenues();

    function onClickSave(){
        var tmpVM = ko.toJS(viewModel)
        ko.utils.postJson("", { EvaluationVM: tmpVM })
    }

    function onNextStageClick() {
        ko.utils.postJson("/Issue/NextStage", { issueId: viewModel.Issue.Id, status: viewModel.Issue.Status })
    };
</script>