@model List<MApp.Middleware.Models.IssueModel>
@{
    ViewBag.Title = "Issue Overvies";
}

<div class="page-header">
    <h2>Issue Overview</h2>
</div>

<table id="issueTable" class="tree table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th>Issue</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @{
            var treegrid = "";
            foreach (var issue in Model)
            {
                treegrid = "treegrid-" + issue.Id;
                if (issue.Parent != null)
                {
                    treegrid = treegrid + " treegrid-parent-" + issue.Parent;
                }
                <tr class="@treegrid">
                    <td><a href="@Url.Action("Creating", "Issue", new { issueId = @issue.Id })">@issue.Title</a></td>
                    <td>
                        @if(issue.Status == "CREATING")
                        {
                            <a href="/Issue/Creating?issueId=@issue.Id">Creating</a>
                        }
                        else if (issue.Status == "BRAINSTORMING1")
                        {
                            <p>Brainstorming</p>
                            <a href="/Issue/BrCriteria?issueId=@issue.Id">Criteria</a>
                            <a href="/Issue/BrAlternatives?issueId=@issue.Id">Alternatives</a>
                        }
                        else if (issue.Status == "BRAINSTORMING2")
                        {
                            <p>Brainstorming</p>
                            <a href="/Issue/CriteriaRating?issueId=@issue.Id">Criteria Weighting</a>
                            <a href="/Issue/BrAlternatives?issueId=@issue.Id">Alternatives</a>
                        }
                        else if (issue.Status == "EVALUATING")
                        {
                            <a href="/Issue/Evaluation?issueId=@issue.Id">Evaluating</a>
                        }
                        else if (issue.Status == "DECIDING")
                        {
                            <a href="/Issue/Decision?issueId=@issue.Id">Deciding</a>
                        }
                        else if (issue.Status == "Finished")
                        {
                            <a href="/Issue/Decision?issueId=@issue.Id">Finished</a>
                        }
                    </td>
                    <td>@issue.Description</td>
                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $('.tree').treegrid();

        var element = document.getElementById("finished-menu");
        element.parentNode.removeChild(element);
        element = document.getElementById("brainstorming-menu");
        element.parentNode.removeChild(element);
        element = document.getElementById("creating-menu");
        element.parentNode.removeChild(element);
        element = document.getElementById("evaluating-menu");
        element.parentNode.removeChild(element);
    });
</script>